extends layout

block content

   .facility

      h1.page-title=title

      .fac-content

         .fac-list
            ul 
               li 
                  a(href='/facility/1') Art Hall 1
               li 
                  a(href='/facility/2') Art Hall 2
               li 
                  a(href='/facility/3') Design Museum
               li 
                  a(href='/facility/4') Design Exhibition Hall
               li 
                  a(href='/facility/5') Designers Lounge
               li 
                  a(href='/facility/6') Design Shop
               li 
                  a(href='/facility/7') Oullim Square
               li 
                  a(href='/facility/8') Dongdaemun History Museum
               li 
                  a(href='/facility/9') Yigansumun Exhibition Hall
               li 
                  a(href='/facility/10') Gallery MUN



         .fac-acc
            .fac-description 
               h2=facilityName

               .fac-slide 
                  input(type="radio" name="slide" id="slide01" check)
                  input(type="radio" name="slide" id="slide02")
                  input(type="radio" name="slide" id="slide03")

                  .slidewrap 
                     ul.slidelist 
                        li 
                           a
                              label(for="slide03").left
                              img(src=`../images/facility/${num}_03.jpg`, alt="")
                              label(for="slide02").right

                        li 
                           a
                              label(for="slide01").left
                              img(src=`../images/facility/${num}_01.jpg`, alt="")
                              label(for="slide03").right

                        li 
                           a
                              label(for="slide02").left
                              img(src=`../images/facility/${num}_02.jpg`, alt="")
                              label(for="slide01").right


                  p=description
            
         