extends layout

block content

   .programDetail

      a(href="/program").pro-back <  Program List 

      h1.page-title=programName

      .proDet-content
         .pro-schedule=schedule
         .pro-location=location
         .pro-open=open
         .pro-img-description
            .pro-img
               img(src=`/images/program/program${num}.jpg`, alt="")
            .pro-description 
               p=description
            